@import '../scss/variables.scss';

.client__container{
    background-color: $secondaryColor;
    height: 900px;
        
    .wrap__text{
        width: 52%;
        p{
            font-size: 170px;
            color: $bigTextColor;
            font-weight: 700;
            letter-spacing: -10px;
            line-height: 190px;
            text-align: right;
        }
    }
    .wrap__content{
        width: 80%;
        margin: auto;
        position: relative;
        .wrap__img{
            padding: 73px 0 40px 0;
            img:nth-child(2){
                position: absolute;
                top: 35%;
                left: 28%;
                opacity: 0;
            }
            &:hover{
                transition:all 0.1s;
                -webkit-transition:all 0.1s;
                -moz-transition:all 0.1s;
                -ms-transition:all 0.1s;
                -o-transition:all 0.1s;
                
                img:nth-child(1){   
                    opacity: 0;
                }

                img:nth-child(2){
                    opacity: 1;
                }
            }
        }

        .wrap__img:before{
            content: '';
            top: 30px;
            height: 90%;
            right: -7px;
            width: 1px;
            border-right: 1px solid #2F2E36;
            position: absolute;
        }
      
        .wrap__img:after{
            content: '';
            height: 1px;
            left: 11px;
            bottom: -20px;
            width: 96%;
            border-bottom: 1px solid #2F2E36;
            position: absolute;
        }
       
    }
}
// RESPONSIVE
@media screen and (max-width: 768px){
    .client__container{
        height: 1100px;
    }
}
@media screen and (max-width:576px){
    .client__container{
        height: 2700px;

        .wrap__text{
            
            p{
                font-size: 140px;
              
            }
        }
    }
}