@import "../scss/variables.scss";

.award__container {
  background-color: $secondaryColor;
  height: 700px;

  .wrap__text {
    width: 90%;

    p {
      font-size: 170px;
      color: $bigTextColor;
      font-weight: 700;
      letter-spacing: -10px;
      line-height: 190px;
      text-align: right;
    }
  }
  .slick__container {
    .carousel-inner {
      .carousel-item {
        .item__container {
          width: 70%;
          margin: auto;
          padding: 5% 0 4% 0;

          .item__comment {
            color: $smallTextColor;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            padding: 30px;
          }
          .item__author {
            color: $smallTextColor;
            font-size: 19px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: capitalize;
          }
        }
      }
    }
    .carousel-indicators {
      li {
        max-width: 15px;
        height: 15px;
      }
      .active {
        background-color: $primaryColor;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  .award__container {
    height: 600px;
    .wrap__text {
      p {
        font-size: 130px;
      }
      margin-top: -7%;
    }
  }
}
@media screen and (max-width: 631px) {
  .award__container {
    height: 600px;
    .wrap__text {
      p {
        font-size: 90px;
      }
      margin-top: -10%;
    }
  }
}
@media screen and (max-width: 576px) {
  .award__container {
    
    .slick__container {
      .carousel-indicators {
        bottom: 0px;
      }
    }
  }
}
