@import "../scss/variables.scss";

.copyright__wrap{
    background-color: $secondaryColor;
    height: 60px;
    border-top: 1px solid rgba(255,255,255,0.2);
    .copyright__container{
        
        width: 80%;
        margin: auto;
        color: $smallTextColor;
        padding: 20px 0;
        a{
            &:hover{
                color: $primaryColor;
            }
            i{
                margin: 0 10px;
                font-size: 20px;
            }
        }

    }
}